body { background: #8e4331; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 19px; display: flex; }
.block-validator-0 { color: #154fbb; font-size: 16px; margin-bottom: 5px; }
.block-email-1 { color: #dafbed; font-size: 12px; margin-bottom: 5px; }
.block-uploader-2 { color: #f98cff; font-size: 17px; margin-bottom: 5px; }
.block-logger-3 { color: #ff40d1; font-size: 15px; margin-bottom: 5px; }
.block-session-4 { color: #8ee4f0; font-size: 21px; margin-bottom: 5px; }